.home {
    background-image: url('../../assets/back2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 91vh;
}

.div-home {
    position: absolute;
    right: 5vw;
    top: 4vh;
}

.list {
    position: absolute;
    right: 12vw;
    top: 30vh;
    font-size: 25px;
    text-align: left;
    font-weight: 400;
}

.div-title {
    position: absolute;
    right: 6vw;
    top: 20vh;
}

.div-title > h1 {
    font-weight: 600;
}

.div-welcome {
    font-weight: bolder;
    font-size: 78px;
    position: absolute;
    left: 14vw;
    top: 3vh;
}

.div-stats {
    font-size: 30px;
    position: absolute;
    left: 15vw;
    top: 15%;
}


#chart1 {
    position: absolute;
    float: left;
    width: 25%;
    top: 40vh;
}

#chart2 {
    position: absolute;
    float: left;
    width: 25%;
    top: 40vh;
    left: 65vh;
}

button {
    background-color: #f65776;
    font-weight: bold;
    font-size: 16px;
    border-color: #e90c38;
    margin: 5px;
    margin-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0.8em;
    box-shadow: 0.15em 0.15em #2e282a75;
    transition: 0.5s background-color box-shadow;
}

button:hover {
    background-color: #e90c38;
    box-shadow: inset 0.15em 0.15em #2e282ab9;
    transition-duration: 1s;
    cursor: pointer;
}

.register {
    position: absolute;
    right: 5%;
    bottom: 12%;
}

.signUp {
    position: absolute;
    bottom: 13%;
    left: 23%;
}

.Home {
    position: absolute;
    bottom: 5%;
    right: 12%;
}

.backpack {
    width: 20%;
    height: 30%;
    background-image: url('../../assets/Home/backpack.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0.5%;
    right: 1%;
}

.target {
    width: 15%;
    height: 30%;
    background-image: url('../../assets/Home/target.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 1%;
    left: 50%;
}

.center {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Home/tempsnip.png');
    background-size: cover;
}
