.home{
  background-image: url("../../assets/back2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 91vh;
}

.div-home{
  position:absolute;
  right: 5vw;
  top: 4vh;
}

.div-list{
  position:absolute;
  right: 12vw;
  top: 30vh;
  font-size: 3vh;
  text-align: left;
  font-weight: 400;
}

.div-title{
  position:absolute;
  right: 6vw;
  top: 20vh;  
}

.div-title > h1 {
  font-weight: 600;
}

.div-welcome{
  font-weight: bolder;
  font-size: 78px;
  position:absolute;
  left: 14vw;
  top: 3vh;
}
